/* Z indexing elements - add to Block Additional CSS classes */
.blockette-z-index-zero {
	z-index: 0;
	position:relative;
}
.blockette-z-index-top {
	z-index: 2;
	position:relative;
}

/* Large shadow - custom style for large text */
.blockette-txt-shadow-big {
	text-shadow: 0.07em 0.07em 0 rgba(0,0,0,0.2);
}

/* ============================= */
/* Tweaks for Gutenberg settings */
/* ============================= */

/* Set Cover block inner container to 100% width when content position is top center */
.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
	width: 100%
}