<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-blockette-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0rem","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"},"margin":{"top":"0px"}}},"layout":{"inherit":true},"fontSize":"extra-small"} -->
<main class="wp-block-group alignfull has-extra-small-font-size"
	style="margin-top:0px;padding-top:0rem;padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:pattern {"slug":"blockette/landing-fashion-hero"} /-->

	<!-- wp:pattern {"slug":"blockette/landing-discount-section"} /-->

	<!-- wp:pattern {"slug":"blockette/product-featured-categories"} /-->

	<!-- wp:spacer {"height":"4vw"} -->
	<div style="height:4vw" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"blockette/landing-beauty-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-large","theme":"blockette","tagName":"footer"} /-->